@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap");
html {
  font-size: 62.5%; }

body {
  font-family: "Overpass", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #131518;
  padding-left: 2.4rem;
  padding-right: 2.4rem; }

.container {
  height: 36rem;
  width: 33rem;
  border-radius: 1.5rem;
  background: radial-gradient(#232a34, #181e27); }
  .container__image {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    margin: 2.4rem 0rem 1.6rem 2.4rem;
    background-color: #262e38;
    position: relative; }
  .container__heading {
    font-size: 2.4rem;
    line-height: 3rem;
    color: #ffffff;
    font-weight: 700;
    padding: 0rem 2.4rem 1rem 2.4rem; }
  .container__paraghraph {
    font-size: 1.4rem;
    line-height: 2.2rem;
    font-weight: 400;
    color: #969fad;
    padding: 0rem 2.4rem 2.4rem 2.4rem; }
  .container__choose {
    padding: 0rem 2.2rem 2.4rem 2.4rem;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .container__buttons {
    border: none;
    border-radius: 50%;
    height: 4.2rem;
    width: 4.2rem;
    text-align: center;
    background: #262e38;
    color: #7c8798;
    font-size: 1.4rem;
    line-height: 2.4rem; }
    .container__buttons:hover {
      background: #7c8798;
      color: #ffffff;
      cursor: pointer; }
    .container__buttons:active {
      background-color: #fc7614;
      color: white;
      transform: scale(0.97); }
  .container__button {
    width: 27.9rem;
    height: 4.5rem;
    text-align: center;
    background-color: #fc7614;
    color: #ffffff;
    font-family: "Overpass", sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1.8rem;
    text-transform: uppercase;
    border: none;
    border-radius: 2.2rem;
    margin: 0 auto;
    transition: all 0.5s;
    letter-spacing: 1.9px;
    padding-top: 0.2rem; }
    .container__button:hover {
      background-color: #ffffff;
      color: #fc7614; }
    .container__button:active {
      transform: scale(0.97); }

.image {
  width: 1.4rem;
  height: 1.4rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.container__thanks {
  height: 36rem;
  width: 33rem;
  border-radius: 1.5rem;
  background: radial-gradient(#232a34, #181e27);
  display: none; }

.image2 {
  margin: 3.4rem 9.3rem 2.9rem 8.5rem; }

.para {
  text-align: center;
  border-radius: 2.2rem;
  background: #262e38;
  color: #fc7614;
  width: 16.8rem;
  padding-top: 0.6rem;
  padding-bottom: 0.5rem;
  margin: 0 auto;
  font-size: 1.4rem;
  line-height: 2.2rem;
  font-weight: 400; }

.thanks {
  text-align: center;
  padding: 2.4rem 0rem 1rem 0rem;
  color: #ffffff;
  font-size: 2.4rem;
  line-height: 3rem; }

.para2 {
  color: #7c8798;
  font-size: 1.4rem;
  line-height: 2.2rem;
  text-align: center;
  padding: 0rem 2.4rem 3.7rem 2.4rem; }

@media only screen and (min-width: 768px) {
  .container {
    height: 41.6rem;
    width: 41.2rem;
    border-radius: 3rem;
    background: radial-gradient(#232a34, #181e27);
    display: block; }
    .container__image {
      width: 4.8rem;
      height: 4.8rem;
      border-radius: 50%;
      margin: 3.2rem 0rem 3rem 3.2rem;
      background-color: #262e38;
      position: relative; }
    .container__heading {
      font-size: 2.8rem;
      line-height: 3.5rem;
      padding-left: 3.2rem; }
    .container__paraghraph {
      font-size: 1.5rem;
      line-height: 2.4rem;
      font-weight: 400;
      color: #969fad;
      padding: 0rem 3.2rem 2.4rem 3.2rem; }
    .container__choose {
      padding: 0rem 3.2rem 3.2rem 3.2rem;
      display: flex;
      justify-content: space-between;
      align-items: center; }
    .container__buttons {
      height: 5.1rem;
      width: 5.1rem; }
      .container__buttons:hover {
        background: #7c8798;
        cursor: pointer; }
    .container__button {
      width: 34.1rem;
      height: 4.5rem;
      font-size: 1.5rem; }
      .container__button:hover {
        background-color: #ffffff;
        color: #fc7614; }
  .image {
    width: 1.6rem;
    height: 1.6rem; }
  .container__thanks {
    height: 41.2rem;
    width: 41.6rem;
    border-radius: 1.5rem;
    background: radial-gradient(#232a34, #181e27);
    display: none; }
  .image2 {
    margin: 4.5rem 13.3rem 3.6rem 12.1rem; }
  .para {
    text-align: center;
    border-radius: 2.2rem;
    background: #262e38;
    color: #fc7614;
    width: 19.3rem;
    padding-top: 0.6rem;
    padding-bottom: 0.5rem;
    margin: 0 auto;
    font-size: 1.5rem;
    line-height: 2.4rem;
    font-weight: 400; }
  .thanks {
    font-size: 2.8rem;
    line-height: 3.5rem; }
  .para2 {
    color: #7c8798;
    font-size: 1.5rem;
    line-height: 2.4rem;
    text-align: center;
    padding: 0rem 3.2rem 4rem 4.5rem; } }
